.menu-link
{
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.menu-link:hover
{
    background-color: #eee;
}

.drp1
{
    width: 40%;
}
